# Server
PORT=5000
NODE_ENV=development

# MongoDB Atlas Connection
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/electrostore?appName=Cluster0

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173
